header{ 
    width:100vw; height:10vh;position: fixed;
    perspective: 1000px;z-index:10;
    background-color: var(--secondary-background); 
    transform-style: preserve-3d;overflow:hidden;
}
.header-pr{background-color:transparent !important;}
.header-shadow{box-shadow: 1px 1px 2px 2px var(--shadow); } 
.header-search{padding-left: 3%;padding-right: 15%; display: flex;align-items: center;}
.header-search h1{width: 100%;font-size: var(--size-1);color: var(--icons-color); text-align: center;}
.header-search button{width: 15%;height: 70%;background-color: transparent;}
.header-search button svg{width: 85%;height: 80%;}
.header-search button svg:hover{transition: 0.6 ease;opacity: 0.75;}
#header-1{
    width: 100vw;height: 10vh;position: relative;
    transform-origin: top ; 
}
#header-1 span{ 
    width: 35%;height: 100%;padding: 3% 3%;display: flex;
}
#header-1 span a img{width: 100%;height: 100%;}
.down, .up {
    transition: transform 0.11s ease;
}
#header-2{
    width: 100vw;height: 10vh;
    transform-origin: top right; 
}
.btn-side-list{
    width: 50px;height: 35px;
    margin: 1% 3%;background: no-repeat center;background-size: 30px;
    background-image: url("../../../public/icons/menu-1.png");
}
[id="header-1"].up{
transform: rotateX(0deg);
}
[id="header-1"].down{transform: rotateX(90deg);}
[id="header-2"].up{
    transform: rotateX(180deg);
}    
[id="header-2"].down{transform: rotateX(90deg);}