@media(max-width:576px){
    .load img{
        width: 40%;height: 25%;
        margin:-5% 0%;
        /* top: 45%;left: 45%;right: 45%;bottom: 45%; */
    }
}
@media(min-width:576px){
    .load img{
        width: 30%;height: 25%; 
    }
}
@media(min-width:880px){
    .load img{
        width: 15%;height: 35%; 
    }
}
.load{
    width:100vw;height:100vh; 
    position: relative;

}
/* .load img{position: absolute;} */
