@media(max-width:576px){
    .crt{
        width: 150px;height: 95%;padding: 1% 0%;
        border-radius: 12px;
    }
    .crt > svg{
      /* border:1px solid black; */
      width: 45px;height: 50px;margin: 0% 3%;
      filter: drop-shadow(2px 0px 2px  rgb(87, 92, 97));
    }
    .crt span{ 
       font-size: 0.7rem;margin: -1% 3%;width: 100%; 
    }
    .crt h1{
        width: 100%;padding: 0% 3%; 
        font-size: 0.8rem; 
    }
    .crt label{font-size: 0.7rem;padding: 0% 2%;}
    .crt label.all-line{width: 100%;height: 20px; font-size: 0.7rem;padding: 0% 2%; border: 0px solid red;}
    .crt label svg{ 
        width: 20%;height: 80%;
    }
}
.crt{
    /* background-color: var(--primary-background); */
   display: flex;flex-direction: column;
   position: relative;
   box-shadow:0px 0px 5px   rgb(45, 48, 58);
}
.crt:nth-child(1){ background-color: #99bc85;}
.crt:nth-child(2){ background-color:  #fc6737;}
.crt:nth-child(3){ background-color: #ff6868;}
.crt:nth-child(4){ background-color: #fc6737;}
.crt:nth-child(5){ background-color: #fc6737;}
.crt h1,.crt label{
    color: var(--secondary-background); 
}
.crt label{
    position: absolute;bottom: 3px;
    overflow: hidden;
    /* border: 1px solid black; */
    /* text-align: center; */
}
.crt span{
    color:var(--secondary-background);opacity: 0.9;
    /* text-shadow: 0px 0px 2px black; */
}