
/* skeleton*/
/* .skeleton .shape{
    background-color: var(--icons-color) !important;

    animation: coloring 2s ease infinite;
    border-radius: 15px; 
    
} */
.skeleton div:nth-child(1){
    height: 55%;border-radius: 0% !important;
    background-color: rgb(119, 131, 131);
}
.skeleton p{
    width:60%;height:10px;
}
.skeleton h2{
    margin-top: 2%;
    width:45%;height:10px; 
}
.skeleton h3{
    margin-top: 2%;
    width:35%;height:10px; 
}
.skeleton svg, .skeleton svg path{stroke: rgb(119, 131, 131);}

@keyframes coloring {
    0%{
           background-color: rgb(119, 131, 131);
    }
    50%{
        background-color: rgb(127, 146, 146); 
    }
    100%{
        background-color: rgb(142, 156, 156); 
    }
}