:root {
  --primary-background:#ee105c;
  --secondary-background:#fff;
  --icons-color:#4c5358;
  --shadow:#41404879;


  
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

body { 
  background: var(--secondary-background)
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

header{ 
  height:10vh;box-shadow: 0 0 9px 2px var(--shadow);
}
footer{
  width: 100vw; height:10vh;box-shadow: 0 0 9px 0px var(--shadow);
  background-color:var(--secondary-background)
}
footer nav { 
  width:100%;height:100%;
  display: flex;flex-direction: row;justify-content: space-between;
  padding: 0% 3%;
}
nav span{
  margin-top: -2px;
  width: 18%;height: 100%; 
}
nav span a{width: 100%;height: 100%;}
nav span a img{width: 55%;height: 65%;}

.btn-active{
    border-top: 4px solid var(--primary-background);
}
.btn-active img{fill:#a7f81033}

/* position */
.p-bottom{  position: fixed;bottom: 0;z-index: 10;}
.center{display: flex;align-items: center;justify-content: center;}
